.main{
  padding-inline: clamp(1.875rem, -3.2791rem + 23.5616vw, 12.625rem);
}

.card-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card{
  position: relative;
  background-color: #F6F6F6;
  max-width: 500px;
  width: 100%;
}

.card__overlay{
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  cursor: pointer;
}

.card:hover .card__overlay {
  background-color: rgba(var(--bg-color), 1);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.card__slider-description{
  position: absolute;
  padding: 20px;
  bottom: 0;
  text-align: center;
  z-index: 3;
  opacity: 0;
  transform: translateY(2px);
  background-color: rgba(0,0,0, 0.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover .card__slider-description{
  color: #ffff;
  opacity: 1;
  transform: translateY(0);
}

.card__description{
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: #ffff;
}

.card__slider,
.card__slider-button,
.card__zoom,
.card__buy-zone,
.block {
  position: relative; 
  z-index: 2; 
  pointer-events: auto;
}

.card__body{
  max-width: 508px;
}

.card__slider {
  position: relative;
  width: 100%;
  border-radius: 8px 8px 0 0; 
  z-index: 2;
}


.card__slide {
  width: 100%;
  height: 100%;
}

.card__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.card__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  z-index: 10;

  width: 43px;
  height: 43px;

  background-color: rgba(var(--bg-color), 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.3s ease, transform 0.2s ease;
}

.card__slider-button:hover {
  background: rgba(var(--bg-color), 0.8);
}

.card__slider-button--prev {
  left: 15px;
}

.card__slider-button--next {
  right: 15px;
}

@media (max-width: 767px) {
  .card__slider-button {
    display: none;
  }
  .card__slider-description {
    display: none;
  }
}

.card__zoom{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;

  width: 32px;
  height: 34px;

  background-color: rgba(var(--bg-color), 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__zoom:hover {
  background: rgba(var(--bg-color), 0.7);
}

.card__slider-pagination {
  position: static;       
  margin-top: 10px;   
  display: flex;
  justify-content: center;
  gap: 8px; 
}


.card__slider-pagination .swiper-pagination-bullet {
  width: 73px;
  height: 2px; 
  background: var(--default-unactive-color);
  border-radius: 0%;
  opacity: 1;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.card__slider-pagination .swiper-pagination-bullet-active {
  background: var(--accent-color);
}

.card__slider-pagination .swiper-pagination-bullet:hover {
  background: var(--accent-color-hover);
}

.additional-text{
  margin-inline: 0.1875rem;
}


.basic-text{
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--font-base-color);
  line-height: 1.5rem;
}


.block{
  padding-top: var(--block-padding);
  padding-inline: var(--block-padding);
}

.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;    
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.h3-title{
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  color: var(--hglighting-color);
  line-height: 1.6rem;
}


.materials{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  backdrop-filter: blur(20px);
}

.material{
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  transition: color 0.3s ease;
}



.check-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 6%;

}


.material-checkMark{
  width: 18px;
  height: 18px;
  background-color: var(--default-unactive-color);
  color: white;
  
  border-radius: 50%;
  fill: none;
  padding: 2px;
  margin-left: 6px;
  transform: scale(0.1);
  opacity: 0;

  transition: transform 0.35s cubic-bezier(.34,1.56,.64,1),
              opacity 0.2s ease;
  flex-shrink: 0;
}

.material-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 3px 6px 12px;
}


.material.active .material-content {
  color: rgb(255, 255, 255);
}

.material.active .material-checkMark {
  transform: scale(1);
  opacity: 1;
}

.material.active .material-text{
  background-color: transparent;
  padding: 0 30px 0 0;
  color: rgb(255, 255, 255);
  transform: translateX(25px);
}
.material-text{
  background-color: var(--default-unactive-color);
  padding: 6px 12px;
  border-radius: 20px;
  z-index: 2;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--hglighting-color)
}

.material-text {
  transition: transform 0.35s cubic-bezier(.34,1.56,.64,1);
}

.highlight {
  position: absolute;
  border-radius: 40px;
  background: var(--hglighting-color);
  transition:
    left 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    width 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  box-shadow:
    0 4px 15px rgba(0,0,0,0.15),
    inset 0 1px 1px rgba(255,255,255,0.3);
  
  z-index: 0;
}

.card__price-metr{
  font-family: var(--font-family-bold);
  color: var(--hglighting-color)
}

.card__buy-zone{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--block-padding);
  padding-top: 0.8125rem;
  padding-bottom: var(--block-padding);
}

.card__button{
  padding-inline:  clamp(1.25rem, -0.533rem + 8.1507vw, 4.96875rem);
  padding-block: clamp(0.6875rem, 0.5227rem + 0.7534vw, 1.03125rem);
  background-color: var(--accent-color);
  border-radius: 10px;
  font-family: var(--font-family-semibold);
  font-size: 15px;
  color: white;
  transition: background-color 0.2s ease;
  opacity: 0;
}

.card:hover .card__button{
  opacity: 1;
}

.card__button:hover{
  background-color: var(--accent-color-hover);
}

.card__button:active{
  background-color: var(--accent-color);
}


.card__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.875rem;
  border-top: 1px solid var(--default-unactive-color);
  padding-top: 0,875rem;
}


.card__like{
  display: flex;
  gap: 8px;
  padding-left: 1rem;
}

.card__like-button{
  color: var(--like-color);
}

.card__like-button:hover{
  opacity: 0.7
}

.card__like-icon{
  width: 1.03125rem;
  height: 0.9175rem;
  fill: var(--default-unactive-color);
  cursor: pointer;
  transition: fill 0.3s ease ;
}

.card__like-button.active .card__like-icon{
  color: var(--accent-color);
  animation: likePop 0.3s ease;
}

@keyframes likePop {
  0% { transform: scale(0.8); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.card__like-text{
  font-family: var(--font-family-bold);
  font-size: var(--font-size-base);
  color: var(--hglighting-color);
}

.card__summary{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font-base-color);
}

.card__summary:hover .card__link, .card__summary:hover .card__link-icon{
  color: var(--accent-color);
}

.card__link{
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  text-decoration: none;
}

.card__link-icon{
  width: 0.75rem;
  height: 0.75rem;
}