.card-list{
  width: 1106px;
  display: flex;
  justify-content: center;
}

.card{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color)
}

.card__body{
  width: 508px;
}

.card__slider {
  position: relative;
  width: 100%;
  border-radius: 8px 8px 0 0; 
}


.card__slide {
  width: 100%;
  height: 100%;
}

.card__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.card__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  z-index: 10;

  width: 43px;
  height: 43px;

  background-color: rgba(var(--bg-color), 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.3s ease, transform 0.2s ease;
}

.card__slider-button:hover {
  background: rgba(var(--bg-color), 0.8);
}

.card__slider-button--prev {
  left: 15px;
}

.card__slider-button--next {
  right: 15px;
}


.card__zoom{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  width: 32px;
  height: 34px;

  background-color: rgba(var(--bg-color), 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__zoom:hover {
  background: rgba(var(--bg-color), 0.7);
}

.card__slider-pagination {
  position: static;       
  margin-top: 10px;   
  display: flex;
  justify-content: center;
  gap: 8px; 
}


.card__slider-pagination .swiper-pagination-bullet {
  width: 73px;
  height: 2px; 
  background: var(--default-unactive-color);
  border-radius: 0%;
  opacity: 1;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.card__slider-pagination .swiper-pagination-bullet-active {
  background: var(--accent-color);
}

.card__slider-pagination .swiper-pagination-bullet:hover {
  background: var(--accent-color-hover);
}

.additional-text{
  margin-inline: 0.1875rem;
}


.basic-text{
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--font-base-color);
  line-height: 1.5rem;
}


.block{
  padding-top: var(--block-padding);
  padding-inline: var(--block-padding);
}

.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* максимум 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.h3-title{
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  color: var(--hglighting-color);
  line-height: 1.5rem;
}


.materials{
  position: relative;
  display: flex;
  gap: 5px;
  padding: 6px;
  border-radius: 50px;
  background: rgba(var(--bg-color),0.4);
  backdrop-filter: blur(20px);
}

.material{
  position: relative;
  z-index: 0;
  border: none;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.material-checkMark{
  width: 11px;
  height: 8px;
  background-color: var(--default-unactive-color);
  color: white;
  transform: scale(0.3);
  display: none;
  transition: transform 2s cubic-bezier(.34,1.56,.64,1),
              display 1s ease;
  flex-shrink: 0;
}

.material-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.check {
  width: 18px;
  height: 18px;
 
  border-radius: 50%;
  fill: none;
  padding: 2px;
  transform: scale(0.2);
  display: none;
  transition: 
    transform 2s cubic-bezier(0.34, 1.56, 0.64, 1),
    display 1s ease;
}

.material.active {
  padding: 6px 9px 6px 12px;
}

.material.active .material-content {
  color: rgb(255, 255, 255);
}

.material.active .material-checkMark {
  transform: scale(1);
  display: block;
}

.material.active .material-text{
  background-color: transparent;
  padding: 0;
  color: rgb(255, 255, 255);
}
.material-text{
  background-color: var(--default-unactive-color);
  padding: 6px 12px;
  border-radius: 20px;
  z-index: 2;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--hglighting-color)
}

.highlight {
  position: absolute;
  top: 6px;
  left: 6px;
  height: calc(100% - 12px);
  border-radius: 40px;
  background: var(--hglighting-color);
  transition:
    left 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    width 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  box-shadow:
    0 4px 15px rgba(0,0,0,0.15),
    inset 0 1px 1px rgba(255,255,255,0.3);
  
    z-index: 0;
}

.card__price-metr{
  font-family: var(--font-family-bold);
  color: var(--hglighting-color)
}

.card__buy-zone{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button{
  padding: 16.5px 79.5px;
  background-color: var(--accent-color);
  border-radius: 10px;
  font-family: var(--font-family-semibold);
  font-size: 15px;
  color: white;
  transition: background-color 0.2s ease;
}

.card__button:hover{
  background-color: var(--accent-color-hover);
}

.card__button:active{
  background-color: var(--accent-color);
}

